<h1>



    <head>
        <link rel="stylesheet" href=calculadora.css>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MushRoom</title>
        <style>
            .flex-container {
                text-align: center;
                display: flex;
                flex-direction: column;
                background-color: rgb(248, 49, 13);
            }

            .flex-container>div {
                background-color: beige;
                margin: 10px;
                padding: 20px;
                font-size: 30px;
            }
        </style>
    </head>

    <body>
        <h1>
         
            
             
            <div class="flex-container">
                <div><b> Calculadora Financeira<br></b></div>
                <div><b> Produção atual em kg: <input type="text" id="inputProducao"><br></b></div>
                <div><b> Valor cobrado por kg: <input type="text" id="inputValor"><br></b></div>
                <div><b> Gastos com a prudução: <input type="text" id="inputGastos"><br></b></div>


                <div> <b><button onclick="calcular()"><h3><b>Calcular</b><h3></button><br></b></div>


                <div id="divMensagem"></div><br>
                

    </body>

    </html>

    <script>

        function calcular() {

            var produçãoInicial = Number(inputProducao.value)
            var valorKg = Number(inputValor.value)
            var gastos = Number(inputGastos.value)
            var produçãoFinal = produçãoInicial * 1.57
            var valorInicial = produçãoInicial * valorKg
            var valorFinal = produçãoFinal * valorKg


            // Mensagem com informações de implementação 

            divMensagem.innerHTML = `<b>A sua produção irá aumentar em 57% um aumento de ${produçãoFinal - produçãoInicial} cogumelos que reprensentam R$${valorFinal - valorInicial}<br>
      O lucro antes da implantação era de R$${valorInicial - gastos} e agora será de R$${valorFinal - gastos}.<br></b>`;




            // Verificando valores 

            if (produçãoInicial < 0) {

                divMensagem.innerHTML = "<h2>A produção atual não pode ser negativa!</h2>";
                tableDados.innerHTML = '';

            } else {
                if (valorKg < 0) {

                    divMensagem.innerHTML = "<h2>O valor  por Kg não pode ser negativo!</h2>";
                    tableDados.innerHTML = '';

                } else {
                    if (gastos > valorInicial) {

                        divMensagem.innerHTML += "<b>Voce está tendo prejuizo atualmente!</b>";

                        if (gastos < valorFinal) {

                            divMensagem.innerHTML += "<br><b>A implantação do sistema te ajudará a contornar esse prejuizo!</b>";

                        } else {

                            divMensagem.innerHTML += "<br><b>Infelizmente a sua produção não dará lucro!</b>";

                        }
                    }
                }
            }
        }
    </script>
