html {
  font-family: sans-serif;
}

#table_dados {
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
}
td,th {
  border: 1px solid rgb(190, 190, 190);
  padding: 10px 20px;
}

td {
  text-align: center;
}

h3 {
  padding: 10px;
}

input {
    margin: 10px;
}

button {
    border: none;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    transition: background .3s;
    border-radius: 5px;
    font-size: 12px;
}