@font-face {
    font-family: Bwrlin Sans FB Demi Bold;
    src: local(Bwrlin Sans FB Demi Bold), url(../fonts/berlin-sans-fb-demi-bold.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/backgroundCadastro.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 800px;
    min-height: 400px;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    height: 70px;
    width: 100%;
    min-width: 800px;
    background-color: black;
    color: #FDF2DC;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.inpt,
.spanCadastro {
    border: 2px solid #712323;
    border-radius: 10px;
}

.inpt {
    background-color: #FDF2DC;
    color: black;
    height: 30px;
    padding-top: 17px;
    margin-top: 5px;
    width: 65%;
    box-sizing: border-box;
}

.spanCadastro {
    color: #FDF2DC;
    background-color: #712323;
    cursor: default;
    height: 45px;
    font-size: 30px;
    width: 370px;
    margin: 13px;
    padding-left: 5px;
    display: flex;
    justify-content: space-between;

}

.botao {
    cursor: pointer;
    border: none;
    border-radius: 10px;
    color: #FDF2DC;
    background-color: #712323;
    width: 170px;
    height: 35px;
    font-size: 15px;
    border: 1px solid;
}

.botao:hover {
    background-color: #4b1717;
}

a {
    color: #FDF2DC;
}

a:hover {
    color: #FDF2DC;
    transition: 300ms;
    text-shadow: 0 0 8px black;
}

#input_cnpj {
    padding-left: 35px;
}

#input_email {
    padding-left: 35px;
}

#input_telefone {
    padding-left: 6px;
}