@font-face {
    font-family: Bwrlin Sans FB Demi Bold;
    src: local(Bwrlin Sans FB Demi Bold), url(../fonts/berlin-sans-fb-demi-bold.ttf);
}

* {
    font-family: Bwrlin Sans FB Demi Bold;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/backgroundCadastro.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-width: 800px;
    min-height: 400px;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    height: 70px;
    width: 100%;
    min-width: 800px;
    background-color: black;
    color: #FDF2DC;
}
.quadrado{
    background-color: #fdf3dd85;
    width: 35%;
    border : 2px solid black;
    height: 50vh;
    justify-content: center;
    align-items: center;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 30px;
    margin-top: 10%;
}
.TituloCad{
    background-color: #e0c9a9;
    justify-content: center;
    align-items: center;
   width: 35%;
    border: solid 5px;
    border-color: #702323;
    text-align: center;
    border-radius: 10px;
    color: #3a2323;

}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.inpt,
.spanCadastro {
    border: 2px solid #712323;
    border-radius: 10px;
}

.inpt {
    background-color: #FDF2DC;
    color: black;
    height: 30px;
    padding-left: 7px;
    font-size: 20px;
    margin-top: 5px;
    width: 65%;
    box-sizing: border-box;
}

.spanCadastro {
    color: #FDF2DC;
    background-color: #712323;
    cursor: default;
    height: 45px;
    font-size: 30px;
    width: 370px;
    margin: 13px;
    padding-left: 5px;
    display: flex;
    justify-content: space-between;

}

.botao {
    cursor: pointer;
    border: none;
    border-radius: 10px;
    color: #FDF2DC;
    background-color: #712323;
    width: 170px;
    height: 35px;
    font-size: 15px;
    border: 1px solid;
    display: flex;
}

.botao:hover {
    background-color: #4b1717;
}
.mensagem{
    position:absolute;
    right: 20px;
    height: auto;
    width: auto;
    border-radius: 10px;
    border: 4px solid #4b1717;
    background-color: #712323;
    color: #FDF2DC  ;
    display: none;
}