@font-face {
    font-family: Bwrlin Sans FB Demi Bold;
    src: local(Bwrlin Sans FB Demi Bold), url(../fonts/berlin-sans-fb-demi-bold.ttf);
}

* {
    font-family: Bwrlin Sans FB Demi Bold;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

html,
body {
    background-color: #f5deb3;
    font-family: Bwrlin Sans FB Demi Bold;
    display: flex;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}


.main {
    background-color: #f5deb3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.inpt {
    border-radius: 15px;
    background-color: #FDF2DC;
    color: black;
    height: 50px;
    font-size: 20px;
    width: 80%;
}

.botao {
    cursor: pointer;
    border: none;
    border-radius: 10px;
    color: #712323;
    background-color: #FDF2DC;
    width: 170px;
    height: 35px;
    font-size: 15px;
    margin-bottom: 10px;
}

.inpts_dash {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
    min-height: 100%;
    position: fixed;
    left: 0;
    top: 100px;
    background-color: #712323;
    font-size: 20px;
}

.sidebar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar h3 {
    color: #f5deb3;
    font-size: 20px;
    margin: 10px;
    display: flex;
    justify-content: center;
}

.inps_limitador {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 20px;
    color: #f5deb3;
}


.graf {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    align-items: center;
}

.graficos {
    margin-bottom: 50px;
}

select {
    color: #712323;
    padding: 10px;
}

.select {
    width: 100%;
    display: flex;
    justify-content: center;
}

.sidebar a:hover {
    border-left: 4px solid black;
    background-color: #f5deb3;
    color: #712323;
    font-weight: bold;
}

/* fim da sidebar */

.content {
    width: 84%;
    height: 100%;
    position: absolute;
    /* background-color: rgba(224, 220, 220, 0.425); */
    padding: 10px;
    right: 0;
    top: 100px;
}

.titulo-secao {
    border-radius: 10px;
    background-color: #712323;
    padding: 10px;
    border: black 1px solid;
}

.titulo-secao h2 {
    font: 19px;

}

.titulo-secao p,
h2 {
    color: #f5deb3;
}

.separador {
    width: 100%;
    height: 1px;
    background-color: #f5deb3;
}

.box-info {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #f5deb3;
}

.box-info-single {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: space-between;
    min-height: 100px;
    width: 250px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 30px;
    background-color: #712323;
}

.box-ideal {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 20px;
    width: 250px;
    min-height: 150px;
}

.ideal {
    background-color: #29cf00;
    padding: 10px;
    border-radius: 10px;
    height: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: black;
}

.canva {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.canva2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    row-gap: 10px;
}

.chart-container {
    display: flex;
    height: 40%;
    width: 100%;
    border: 1px solid #712323;
    margin-top: 20px;
    border-radius: 10px;
    background-color: wheat;
}

.btnMostrar {
    align-self: center;
    width: 50%;
    height: 50px;
    border-radius: 20px;
    cursor: pointer;
    color: #712323;
    background-color: #f5deb3;
    font-family: Bwrlin Sans FB Demi Bold;
    font-size: 20px;
    margin-top: 20px;
}