@font-face {
    font-family: Bwrlin Sans FB Demi Bold;
    src: local(Bwrlin Sans FB Demi Bold), url(../fonts/berlin-sans-fb-demi-bold.ttf);
}
*{
    font-family: Bwrlin Sans FB Demi Bold;
    margin: 0;
    padding: 0;
}

html, body{
    background-color: #712323;
    font-family: Bwrlin Sans FB Demi Bold;
    height: 100vh;
}


.main{
    background-color:#f5deb3;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 10%;
    min-height: 100%;
}

.inpt{
    border-radius: 15px;
    background-color: #FDF2DC;
    color: black;
    height: 40px;
    width: 80%;
}

.botao {
    cursor: pointer;
    border: none;
    border-radius: 10px;
    color: #712323;
    background-color: #FDF2DC;
    width: 170px;
    height: 35px;
    font-size: 15px;
    margin-bottom: 10px;
}

.inpts_dash{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top:100px;
}
.sidebar{
    width: 10%;
    background-color: #712323;
    height: 100%;
    border: black 1px solid;
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar h3 {
    color: #f5deb3;
    font-size: 20px;
    margin: 10px;
    display: flex;
    justify-content: center;
}


.graf{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    align-items: center;
}
.graficos{
    margin-bottom: 50px;
}

select{
    color: #712323;
    padding: 10px;
}

.select{
    width: 100%;
    display: flex;
    justify-content: center;
}

.sidebar a:hover{
    border-left: 4px solid black;
    background-color: #f5deb3;
    color: #712323;
    font-weight: bold;
}

/* fim da sidebar */

.content{
    width: 80%;
    /* background-color: rgba(224, 220, 220, 0.425); */
    padding: 10px;
}

.titulo-secao{
    border-radius: 10px;
    background-color: #712323;
    padding: 10px;
    border: black 1px solid;
}

.titulo-secao h2{
    font: 19px;
    
}
.titulo-secao p, h2 {
    color: #f5deb3;
}

.separador{
    width: 100%;
    height: 1px;
    background-color: #f5deb3;
}

.box-info{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f5deb3;
    
}

.box-info-single{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: space-between;
    min-height: 100px;
    width:200px;
    border-radius: 10px;
    border: 1px solid black;
    padding:30px;
    background-color: #712323;
}
.box-ideal{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 20px;
    width:200px;
    min-height: 150px;
}

.ideal{
    background-color: #29cf00;
    padding: 10px;
    border-radius: 10px;
    height: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.canva {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.canva2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    row-gap: 10px;
}

.chart-container {
    display: flex;
    height: 40vh;
    width: 40vw;
    border: 1px solid #712323;
    margin-top: 20px;
    border-radius: 10px;

}