* {
    margin: 0;
    padding: 0;
}

.bg1-2 {
    background-image: url(../img/backgroundInicial.jpg);
    background-size: cover;
    width: 100%;
    height: 150vh;
}

@font-face {
    font-family: Bwrlin Sans FB Demi Bold;
    src: local(Bwrlin Sans FB Demi Bold), url(../fonts/berlin-sans-fb-demi-bold.ttf);
}

.pagina {
    height: 100vh;
    width: 100%;
}

#pg2 {
    background-image: url(../img/Background_detalhes_do_projeto.png);
    background-size: cover;

    height: 100vh;
    width: 100%;
}

body {
    min-width: 800px;
    min-height: 400px;
}


/* --------------TELA INICIAL------------- */



.degrade {
    width: 100%;
    height: 300px;
    position: absolute;
}

.imgCoguIni {
    display: flex;
    position: absolute;
    width: 44%;
    min-width: 350px;
    top: 284px;
    left: 69px;
}


.cadbar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    float: right;
    margin-top: 110px;
    margin-right: 1%;
    padding: 36px;
    height: 350px;
    width: fit-content;
    font-size: 24px;
    color: #f5deb3;
    background-color: #712323;
    border-radius: 0 0 20px 20px;
    font-family: Bwrlin Sans FB Demi Bold;

}

.cadbar button {

    align-self: center;
    width: 35%;
    height: 35px;
    border-radius: 20px;
    cursor: pointer;
    color: #712323;
    background-color: #f5deb3;
    font-family: Bwrlin Sans FB Demi Bold;


}

.cadbar a {

    font-size: 20px;
    text-decoration: none;
    color: #f5deb3;
}

.cadbar input {

    border-radius: 20px;
    height: 33px;
    background-color: #f5deb3;
    width: 226px;
    align-self: center;


}

.cadbar span {
    padding-inline-start: 31px;
}

.cadbarInput {
    display: flex;
    flex-direction: column;
}