@font-face {
    font-family: Bwrlin Sans FB Demi Bold;
    src: local(Bwrlin Sans FB Demi Bold), url(../fonts/berlin-sans-fb-demi-bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: Bwrlin Sans FB Demi Bold;
}
body {
    min-width: 800px;
    min-height: 400px;
    background-color: #5b2222;
}
.bg1-2 {
    background-image: url(../img/backgroundInicial.jpg);
    background-size: cover;
    width: 100%;
    height: 150vh;
}

.pagina {
    min-height: 100vh;
    width: 100%;
}




/* --------------TELA INICIAL------------- */



.degrade {
    width: 100%;
    height: 300px;
    position: absolute;
}

.imgCoguIni {
    display: flex;
    position: absolute;
    width: 44%;
    min-width: 350px;
    top: 284px;
    left: 69px;
}




/* --------------TELA 2------------- */


#pg2 {
    background-image: url(../img/Background_detalhes_do_projeto.png);
    background-size: cover;
}

.divcard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 38%;
    align-items: center;
    text-align: center;
    position: relative;
    color: #f5deb3;


}

.Projeto {
    float: left;
    font-size: 26px;
    top: 18vh;
    left: 4vw;
}

.sensores {
    float: right;
    top: 37vh;
    right: 4vw;
}


.Titulo{
    font-size: 80px;
    padding-bottom: 40px;
}

.sensores img {
    position: relative;
    top: -14vh;
}

.btn-sobre-nos {
    width: 356px;
    height: 88px;
    position: relative;
    top: 7vh;
    left: 1vw;
    border-radius: 43px;
    font-size: 46px;
    background-color: #f5deb3;
    color: #5b2222;
    cursor: pointer;
}

.btn-sobre-nos:hover {
    background-color: #c7b695;
    box-shadow: 0px 0px 30px #f5deb3;
    transition: 400ms;

}



/* --------------TELA 3------------- */


#pg3{
    background-image: url(../img/BackgroundInfo.png);
    background-size: cover;
    margin-top: 35vw;
    display: flex;
    justify-content: space-around;
}

.divInfo{
    width: 40%;
    height: 70vh;
    margin-top: 25vh;
    color: #f5deb3;
}

.textoInfo{
    font-size: 25px;
}

@keyframes go-back {
    0% {
        transform: translateX(63px);
    }
    100% {
        transform: translateX(5px);
    }
}

#pg3 a{
    color: #f5deb3;margin-top: 5px;
}
.asda{

    animation: go-back 1s infinite alternate;
}


.textoAnima{
    display: flex;
    flex-direction: row;
}

