* {
    margin: 0;
    padding: 0;

}

body {

    background:
    linear-gradient(
      rgba(255, 255, 255, 0.102),rgb(255, 255, 255)
    ),
    url(./img-background.jpg) no-repeat;
    /* background-repeat: no-repeat; */
    background-size: cover;
    /* background-size: 1830px 1300px;  */
    


}


.header {
    background-color: #910000d8;
    width: 100%;
    height: 100px;
}

.logo {
    color: #f5deb3;
    position: relative;
    left: 45px;
    font-size: 50px;
}

.logo2 {
    display: flex;
    position: relative;
    width: 45%;
    top: 150px; 
    left: 80px;
}

.header .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
.header .container li {
    display: inline;
    list-style: none;
    padding: 0 30px;
    cursor: pointer;
    font-size: 25px;
    font-family: 'Bwrlin Sans FB Demi Bold';
}

.header .container .navbar li a {
    text-decoration: none;
    color: #f5deb3;
    
}

.header .container .navbar li button {
    text-decoration: none;
    cursor: pointer;
    color: #7b3131;
    width: 80px;
    height: 40px;
    border-radius: 20px;
    background-color: #f5deb3;
}

.cadbar {


    display: flex;
    font-size: 25px;
    position: relative;
    background-color: #910000d3;
    border-radius: 0 0 20px 20px;
    height: 350px;
    width: 20%;
    justify-content: center;
    color:#f5deb3;
    flex-direction: column;
    align-items: center;
    float: right;
    bottom: 380px;
    gap: 20px;
    right: 10px;
    font-family: Arial;
    
    
}

.cadbar button {

    width: 25%;
    height: 35px;
    border-radius: 20px;
    cursor: pointer;
    color:#7b3131;
    background-color: #f5deb3;

}

.cadbar a {

    font-size: 20px;
   

}

.cadbar input {

    border-radius: 20px;
    height: 30px;
    background-color: #f5deb3;
}