@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url(./background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    display: grid;
    place-items: center;
    padding: 300px;    
}

.inpt, span {
    border: 2px solid #712323;
    border-radius: 10px;
}

.inpt{
    background-color: #FDF2DC;
    color: black;
    height: 30px;
    padding-top: 17px;
}

span{
    color: #FDF2DC;
    background-color: #712323;
    cursor: default;
    height: 45px;
    font-size: 30px;
    width: 340px;
    margin: 13px;
}

.container {
    display: center;
    margin: auto;
}

.botao{
    cursor: pointer;
    border: none;
    border-radius: 10px;
    color: #FDF2DC;
    background-color: #712323;
    width: 170px;
    height: 35px;
    font-size: 15px;
    border: 1px solid;
}

a{
    color: #712323;
}

.botao:hover{
    background-color: #4b1717;
}

a:hover{
    color: #712323;
    transition: 300ms;
    text-shadow: 0 0 8px black;
}
 
#input_cnpj{
    padding-left: 55px;
}

#input_email{
    padding-left: 35px;
}

#input_telefone{
    padding-left: 6px;
}

.footer{
    background-color: black;
    
}